body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* banner section */
.banner {
    display: flex;
    max-width: 1321px;
    height: 650px;
    margin: 50px auto;
    background-color: #d6d9ff;
    border-radius: 20px;
    align-items: center;
    text-align: left;
    padding: 50px 0px 0px 0px;
}

.banner h1 {
    font-size: 54px;
    line-height: 80px;
    margin: 0;
}

.player-info {
    padding: 50px;
    max-width: 50%;
}

.player-images {
    max-width: 50%;
}

.player-images img {
    height: 613px;
    position: relative;
    bottom: -7px;
}

.watch-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(36, 184, 36);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

a.watch-btn span {
    padding-left: 10px;
}

.viewall-btn {
    visibility: hidden;
}

/* sports-activity */

.sports-activity {
    display: flex;
    max-width: 1321px;
    margin: 0 auto;
}

.single-box-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.single-manu-box {
    padding: 0px 30px;
}

.single-player-btn {
    display: inline-block;
    border: 2px solid #000;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

.side-manu {
    width: 312px;
    padding: 20px;
    background-color: #d6d9ff;
    border-radius: 5px;
}

.side-manu a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 15px 0px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: rgb(36, 184, 36);
}

a.btn-active {
    background-color: red;
}

.card {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #d6d9ff;
    border-radius: 10px;
}

.single-playre-info img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.single-player-content {
    padding: 20px;
}

.card ul {
    margin: 0px;
    padding: 0px;
}

.card ul li {
    display: inline-block;
    list-style-type: none;

}

.card ul li span {
    padding: 10px;
}

/* footer */
footer {
    background-color: #d6d9ff;
    text-align: center;
    padding: 50px 0px;
}

.main-footer {
    padding: 20px 0px;
}

footer hr {
    width: 70%;
}

.social-icon li {
    display: inline-block;
    font-size: 28px;
    text-align: center;
    padding: 0px 15px;
}

ul.footer-menu li {
    display: inline-block;
    padding: 10px 20px;
}


@media screen and (max-width:576px) {
    .banner {
        padding: 0 30px;
        grid-template-columns: repeat(1, 1fr);
        display: table;
    }

    .banner h1 {
        font-size: 44px;
        line-height: 54px;
        padding-bottom: 20px;
    }

    .player-info {
        max-width: 100%;
        text-align: center;
    }

    .player-images {
        max-width: 100%;
    }

    .player-images img {
        width: 100%;
    }

    .side-manu {
        width: 312px;
        background-color: #ffffff;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .single-box-container {
        grid-template-columns: repeat(1, 2fr);
        gap: 20px;
        padding: 0 30px;
    }

    .sports-activity {
        flex-flow: column;
    }

    ul.footer-menu li {
        display: block;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .banner {
        margin: 20px;
    }

    .banner h1 {
        font-size: 44px;
        line-height: 50px;
        margin: 0;
    }

    .player-images img {
        width: 100%;
    }

    .single-box-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }

    .viewall-btn {
        visibility: visible;
    }

    button.viewall-btn {
        display: block;
        margin: 0 auto;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        color: #fff;
        background-color: rgb(36, 184, 36);
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sports-activity {
        display: flex;
        flex-direction: column;
    }

    .side-manu {
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
    }

    .single-manu-box {
        padding: 0px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        background-color: antiquewhite;
    }

    .player-info {
        padding-left: 50px;
    }
}